.Posts {
  width: 95%;
  margin: 20px auto;
}

.Posts p {
  margin: 6px;
  padding: 16px;
  border: 1px solid #009870;
  border-radius: 6px;
  font-size: 22px;
}

a.link {
  padding: 4px 8px;
  border-radius: 6px;
  margin: 0 6px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #009870;
  font-size: 20px;
}
.Pagintation {
  width: 95%;
  margin: 5px auto;
}

img{
  width: 200px;
  height: 200px;
  gap: 10px;
  margin: 20px;
}