.WithCheckBox{
    form{
         width: 450px;
         background-color: aquamarine;
         margin: 0 auto;
         padding: 1em;
         input{
          width: 100%;
         padding: 8px;
         &[type="checkbox"]{
            width: 30px;
         }
         }
    }

}