.ButtonBox .btn {
  font-size: 16px;
  padding: 0.6em 1em;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  margin: .25rem .125rem;
}

.btn-primary {
  background-color: #0d6efd;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.ButtonBox .btn-lg {
  font-size: 20px;
}