.user {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &-item{
        width: 26%;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        p {
            margin: 20px 0;
            span {
                margin-right: 10px;
            }
            .title {
                background-color: rgb(0, 225, 255);
                padding: 5px;
                border: 2px dashed rgb(0, 159, 180);
                border-radius: 5px;
            }
        }
        .icon {
            position: absolute;
            right: 10px;
            cursor: pointer;
            color: rgb(3, 109, 190);
            font-size: 25px;
        }
        .input-password{
            border: none;
            width: 50%;
            font-size: 15px;
        }
    }
}