.container{
    background-size: 1550px;
    min-height: 400px ;
    background-image: url('https://images.unsplash.com/photo-1493305457700-d3d24daf8c8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');
    display: flex;
    color: antiquewhite;
}

.title{
    margin-top: 30px;
    margin-left: 70px;
}
.fAwesome{
    display: flex;
    margin-left: 40px;
}
.fAwesomeChild{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 600;
}
.customize{
    border:none;
    background-color: transparent;  
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid antiquewhite;
    margin-left: 70px;
    margin-top: 40px;
    color: aliceblue;
    font-size: 20px ;
    float: left;
}
.customize.blue{
    background-color: rgb(35, 125, 215);
    border: 2px solid rgb(35, 125, 215);

}   