.Container {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    ul{
        li{
            list-style: none;
            border: 1px solid grey;
            border-radius: 5px;
            padding: 1em;
            margin-bottom: 10px;
            position: relative;
            .icon {
                position: absolute;
                right: 10px;
                font-size: 20px;
                color: red;
                cursor: pointer;
            }
        }
    }
}