:root {
  background-color: #242424;
}

.Container {
  padding: 10px;
  width: 25%;
  height: auto;
  border-radius: 9px;
  margin: 20px auto;
  text-align: center;
  justify-content: center;
  background-color: #448aff;
  &__par {
    text-transform: uppercase;
    color: white;
    padding: 10px;
  }
  &__info {
    color: white;
    list-style: none;
    background-color: #2962ff;
    border-radius: 9px;
  }
  &__str {
    padding: 10px;
    cursor: pointer;
    border-radius: 9px;
    transition: 0.3s all;
  }
  &__str:hover {
    background-color: #0d47a1;
    scale: 0.97;
  }
}
