.Info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0.3rem;
  gap: 20px;

  &__item {
    padding: 1em;
    background-color: #242424;
    text-align: center;
    width: 700px;
    height: 400px;
    border-radius: 7px;
    transition: 0.3s all;
  }

  &__img{
    width: 200px;
  }
}
