.Job {
  text-align: center;
  position: relative;
  &__title {
    padding: 50px 75px;
    left: 0;
    position: absolute;
  }
  &__other {
    display: flex;
    padding: 1em;
    gap: 10px;
    text-align: center;
  }
  &__other > p {
    padding: 100px 65px;
  }
  &__img {
    width: 200px;
  }
  &__Buttons {
    position: absolute;
    padding: 0 70px;
    margin-right: 15px;
    top: 70%;
  }
  &__Buttons > &__ButtonF {
    border-radius: 50em;
    padding: 15px 60px;
    background: transparent;
    border-color: white;
    border-style: double;
    color: white;
    font-size: large;
  }
  &__Buttons > &__ButtonS {
    border-radius: 50em;
    padding: 20px 40px;
    border: 2px solid;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    font-size: medium;
  }
  &__Buttons > button {
    margin-right: 20px;
  }
}
