*{
    background-color: rgb(133, 133, 227);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin: 0 auto;
    text-align: center;
    color: green;
}
button{
    margin-left: 10px;
    width: 110px;
    height: 30px;
    background-color: blue;
    border: 2px solid red;
    border-radius: 10px;
}
