.Posts {
  width: 95%;
  margin: 20px auto;
}

.Posts p {
  margin: 6px;
  padding: 16px;
  border: 1px solid #009870;
  border-radius: 6px;
  font-size: 22px;
}

.Pagination {
  width: 95%;
  margin: 5px auto;
  display: flex;
  align-items: center;
  gap: 6px;
}

a.link {
  padding: 4px 8px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #009879;
  font-size: 20px;
}