.slick-slide > div {
  height: 100%;
  margin: 0 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.slick-slider {
  width: 90%;
  margin: 0 auto;
}

.slick-slide {
  height: 400px;
}

.slick-prev {
  color: transparent;
}

.AutoSlide {
  margin: 200px auto;
  img {
    opacity: 0.2;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s all;
    cursor: pointer;
  }
  img:hover {
    opacity: 1;
  }
  &__container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
  }
}
