.slick-slider {
  width: 60%;
  margin: 0 auto;
  height: 500px;
}

.slick-arrow {
  background-color: #111;
}

.slick-arrow:hover {
  background-color: #000;
}

.slick-list {
  height: 600px !important;
}

.slick-slide {
  height: 400px;
  width: 100%;
}

.slick-slide>div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 100%;
}

.slick-slide .User img {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}

.slick-dots {}

.slick-center {
  background-color: orangered;
  border: 0;
  scale: 1.1;
  color: #fff;
}