.Card {
  position: relative;
  &__title {
    text-align: center;
    color: rgb(33, 33, 33);
  }
  &__items {
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    width: 70%;
    height: auto;
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    color: rgb(33, 33, 33);
    border-radius: 15px;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        gap: 300px;
        h3 {
          font-weight: 200;
          margin-bottom: 5px;
          font-size: 17px;
        }
        p {
          font-weight: 500;
          font-size: 24px;
        }
        ul {
          padding-top: 100px;
          img {
            width: 100px;
          }
        }
      }
    }
  }
  &__products {
    display: flex;
    flex-direction: row;
    gap: 20px;

    li {
      flex: 1;
    }
  }
  &__total {
    padding-top: 100px;
    button {
      margin-right: 10px;
      padding: 16px;
      border: none;
      background-color: rgb(33, 33, 33);
      color: white;
      border-radius: 15px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s all;
      &:hover {
        color: rgb(33, 33, 33);
        background-color: white;
      }
    }
  }
  &__prcount {
    span {
      background-color: #d7d5d3;
      padding: 10px;
    }
  }
  &__icons {
    padding: 10px;
    background-color: rgb(33, 33, 33);
    color: #d7d5d3;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      color: rgb(33, 33, 33);
      background-color: white;
    }
  }
}
