body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

button {
  background-color: #0074d9;
  color: #FFFFFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #FFFFFF;
  color: #0074d9;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.posts-list {
  text-align: left;
  padding-left: 0;
}

button.delete-post {
  background-color: #0074d9;
  color: #FFFFFF;
}

button.delete-post:hover {
  background-color: #FFFFFF;
  color: #0074d9;
}

