.Container {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-options {
      display: flex;
      align-items: center;
      padding: 10px;
      height: 80px;
      border-bottom: 1px solid black;
      width: 80%;
      margin: 0 auto;
      position: relative;
      .total{
        position: absolute;
        right: 10px;
      }
    }
    table {
      border: 1px solid grey;
      border-collapse: collapse;
      margin: 0 auto;
      width: 80%;
      tr {
        &:hover {
          background-color: rgba(139, 139, 139, 0.6);
          transition: .3s;
        }
      }
      th {
        text-align: center;
        background-color: rgb(80, 71, 71);
        color: white;
      }
      th, 
      td {
        border: 1px solid grey;
        padding: 10px 20px;
      }
      .close{
        color: red;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }