.Child{
    border: 2px solid grey;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 50px;
    position: relative;
    width: 35%;
    color: rgb(110, 0, 0);
    &_id{
        position: absolute;
        border-radius: 50%;
        background-color: rgb(110, 0, 0);
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        color: white;
    }
    &_age{
        color: rgb(79, 79, 79);
    }
    &_address{
        color: rgb(79, 79, 79);
    }
    &_salary{
        color: rgb(79, 79, 79);
    }
}