*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: rgb(57, 55, 55);
}

.User{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	gap: 60px 10px;
	&__content{
		width:49%;
		color: rgb(184, 183, 183);
		border: 1px solid rgb(163, 163, 163);
		&:hover{
			background-color: rgb(52, 52, 52);
			transform: scale(1.03);
			transition: 500ms ease;
			color: white;
			border: none;
		}
	}	
	&__img{
		padding: 20px;
		width: 50%;
		border-radius: 50%;
	}
		&__title{
			font-size: 35px;
		}
		&__text{
			}
}