.Steps{
  margin: 0 auto;
  padding: 100px;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  &__item{
      width: 200px;
      height: 500px;
      border: 1px solid grey;
      border-radius: 3px;
      background-color: whitesmoke;
  img{
      width: 100%;
  }
  }
  &__title, &__desc , img{
      padding: 10px;
  }
  &__desc{
      font-size: 15px;
      font-weight: 500;
  }
}