.Steps {
	margin: 0 auto;
	padding: 60px 20px;
	display: flex;
	width: 96%;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	

	&__item {
		width: 320px;
		border: 1px solid grey;
		border-radius: 3px;
		text-align: center;
		background-color: whitesmoke;

		img {
			width: 200px;
		}
	}

	&__title,
	&__desc,
	img {
		padding: 10px;
	}

	&__desc {
		font-size: 15px;
		font-weight: 500;
	}
}