.Form {
  width: min(70%, 650px);
  padding: 1em 2em;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #111;
  flex-direction: column;
  border-radius: 92% 8% 90% 10% / 7% 92% 8% 93%;
  form {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    div {
      label {
        display: block;
        margin-bottom: 4px;
      }
      input,
      textarea {
        width: 100%;
        font-size: 18px;
        padding: 1em 0.6em;
        border: 1px solid grey;
        border-radius: 6px;
        margin-bottom: 6px;
        &[type="submit"] {
          background-color: #009879;
          color: #fff;
          cursor: pointer;
        }
      }
      textarea {
        resize: none;
        font-size: 16px;
      }
    }
  }
}
