.EditUser {
  width: max(70%, 600px);
  padding: 1em;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d7d5d3;
  &__form {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    div {
      label {
        display: block;
        margin-bottom: 4px;
      }
      input,
      textarea {
        width: 100%;
        padding: 1em;
        font-size: 18px;
        border-radius: 6px;
        margin-bottom: 6px;
        border: 1px solid grey;
        &[type="submit"] {
          width: 50%;
          display: block;
          margin-right: auto;
          margin-left: auto;
          background-color: #87807c;
          color: white;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: #5f5551;
            scale: 0.97;
            transform: translateY(-4px);
          }
        }
      }
      textarea {
        resize: none;
        font-size: 16px;
      }
    }
  }
}
