.slick-slider {
  width: 90%;
  margin: 0 auto;
}

.slick-arrow {
  background-color: black;
}

.slick-arrow:hover {
  background-color: #000;
}


.slick-slide {
  height: 400px;
}

.slick-slide>div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  margin: 0 30px;
}

.slick-slide .User img{
  margin: 0 auto;
border-radius: 50%;
width: 130px;
height: 130px;
margin-bottom: 20px;
}

.slick-dots {
  bottom: -100px;
}

.slick-center {
  background-color: orangered;
  border: 0;
  scale: 1.1;
  color: #fff;
}