.Users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    &__item {
        text-align: center;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 20px 30px;
    }
    &__title {
        color: grey;
    }
    &__age {
        margin-right: 10px;
    }
}