.Form {
  width: min(70%, 600px);
  padding: 1em;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #111;
  flex-direction: column;

  form {
    width: 100%;
    padding: 10px;
    font-size: 20px;

    div {
      label {
        display: block;
        margin-bottom: 4px;
      }

      input,
      textarea {
        width: 100%;
        font-size: 20px;
        padding: 1em;
        border-radius: 6px;
        margin-bottom: 6px;
        &[type='Submit']{
          background-color: #009879;
          color: #fff;
          cursor: pointer;
        }
      }
      textarea {
        resize: none;
        font-size: 16px;
      }
    }
  }
}