@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  &__title {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: rgb(33, 33, 33);
  }
}

h2 {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  color: #3498db;
}
