.Container {
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  button, p{
    margin: 10px;
  }
  input{
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
  .item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    &-post {
      position: relative;
      border: 2px solid grey;
      border-radius: 5px;
      width: 26%;
      text-align: center;
      line-height: 30px;
      padding: 20px;
      .id {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: teal;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: white;
      }
      .icon{
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 25px;
        cursor: pointer;
        color: rgb(255, 0, 64);
      }
    }
  }
  button{
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(255, 0, 64);
    border: none;
    border-radius: 5px;
    &:hover{
      scale: 1.1;
    }
  }
}