.slick-slider {
  width: 90%;
  margin: 0 auto;
}

.slick-arrow {
  background-color: #111;
}

.slick-arrow:hover {
  background-color: #111;
}

.slick-track {

}

.slick-slide {
  height: 400px;
}

.slick-slide>div {
  border: 2px solid red;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 98%;
  margin: 0 30px;
}

.slick-slide .User img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 auto;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}

.slick-dots {
  bottom: -100px;
}

.slick-center {
  background-color: red;
  border: none;
  color: white;
}