*{
  background-color: rgb(123, 61, 181);
}
.Posts {
    display:table;
    width: 50%;
    margin: 20px auto;
    color: #009879;
  }
  .Posts div {
    text-align: center;
    margin: 6px;
    padding: 16px;
    border-radius: 6px;
    font-size: 22px;
    background-color: rgb(0, 0, 0);
  }
  .Posts img{
    border-radius: 10px;
    width: 1000px;
    height: 20px;
  }
  .Posts p{
    background-color: black;
    color: aliceblue;
  }
  .Posts div:hover{
    transition: 0.5s;
    background-color: rgb(163, 135, 190);
  }
  .Posts p:hover{
    transition: 0.5s;
    background-color: rgb(163, 135, 190);
    color: black;
  }
  .Pagination {
    width: 95%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  a.link {
    padding: 4px 8px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #009879;
    font-size: 20px;
  }