body {
    background-image: url(./Images/photo_2022-11-28_22-31-07.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.App{
    width: 90%;
    margin: 100px auto;
    position: relative;
    &_title{
        color: white;
        margin: 20px 0;
        font-size: 40px;
    }
    .info {
        display: flex;
        justify-content: start;
        gap: 20px;
        color: white;
        font-size: 20px;
    }
    .btn_save{
        margin-top: 50px;
        background-color: transparent;
        padding: 20px 100px;
        color: white;
        border: 2px solid white;
        border-radius: 40px;
        font-size: 20px;
        margin-right: 40px;
        cursor: pointer;
    }
    .btn_apply{
        color: white;
        background-color: rgb(0, 128, 255);
        border: none;
        border-radius: 40px;
        padding: 20px 40px;
        font-size: 20px;
        cursor: pointer;
    }
}